# V2Ray Shop - Environment Variables
# این فایل رو پر کنید

# GitHub
GITHUB_TOKEN=your_github_token_here
GITHUB_REPO=aminxparsaa/v2ray-configs

# Telegram Bot
TELEGRAM_BOT_TOKEN=your_bot_token_here

# Flask
FLASK_SECRET_KEY=your_secret_key_here
